/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#box {
    position: absolute;
    top: 200px;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #00F;
}
